<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cuvette-assignment</title>

    <style>
      h4,
      li {
        list-style: inside;
        margin-bottom: 10px;
      }
      ul {
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to cuvette assignment</h1>

    <h2 style="padding-left: 20px">
      <a
        href="https://documenter.getpostman.com/view/19773659/2s8YmUKzTJ"
        target="__blank"
        >cuvette assignment documentation</a
      >
    </h2>
    <ul>
      <h4>These are the following endpoints:-</h4>
      <li>
        <a
          href="https://www.postman.com/material-cosmologist-8086446/workspace/my-workspace/collection/19773659-728f9071-92c5-4f6e-b416-fb8615974df9?action=share&creator=19773659"
          target="__blank"
          >http://15.206.185.43/signup POST for signup.</a
        >
      </li>
      <li>
        <a
          href="https://www.postman.com/material-cosmologist-8086446/workspace/my-workspace/collection/19773659-728f9071-92c5-4f6e-b416-fb8615974df9?action=share&creator=19773659"
          target="__blank"
          >http://15.206.185.43/signup POST for login.</a
        >
      </li>
      <li>
        <a
          href="https://www.postman.com/material-cosmologist-8086446/workspace/my-workspace/collection/19773659-728f9071-92c5-4f6e-b416-fb8615974df9?action=share&creator=19773659"
          target="__blank"
          >http://15.206.185.43/signup POST for logout.</a
        >
      </li>
      <li>
        <a
          href="https://www.postman.com/material-cosmologist-8086446/workspace/my-workspace/collection/19773659-728f9071-92c5-4f6e-b416-fb8615974df9?action=share&creator=19773659"
          target="__blank"
          >http://15.206.185.43/jsonpatch POST for JSON patch.</a
        >
      </li>
      <li>
        <a
          href="https://www.postman.com/material-cosmologist-8086446/workspace/my-workspace/collection/19773659-728f9071-92c5-4f6e-b416-fb8615974df9?action=share&creator=19773659"
          target="__blank"
          >http://15.206.185.43/generatethumbnail POST for generating
          thumbnail.</a
        >
      </li>
      <li>
        <a
          href="https://www.postman.com/material-cosmologist-8086446/workspace/my-workspace/collection/19773659-728f9071-92c5-4f6e-b416-fb8615974df9?action=share&creator=19773659"
          target="__blank"
          >http://15.206.185.43/addaddress POST for adding address</a
        >
      </li>
      <li>
        <a
          href="https://www.postman.com/material-cosmologist-8086446/workspace/my-workspace/collection/19773659-728f9071-92c5-4f6e-b416-fb8615974df9?action=share&creator=19773659"
          target="__blank"
          >Postman collection link</a
        >
      </li>
    </ul>
  </body>
</html>
