<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cuvette-assignment</title>

    <style>
      h4,
      li {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to cuvette assignment</h1>

    <ul>
      <h4>These are the following endpoints:-</h4>
      <li>
        <a href="http://15.206.185.43/signup" target="__blank"></a
        >http://15.206.185.43/signup for signup.
      </li>
      <li>
        <a href="http://15.206.185.43/login" target="__blank"></a
        >http://15.206.185.43/signup for login.
      </li>
      <li>
        <a href="http://15.206.185.43/logout" target="__blank"></a
        >http://15.206.185.43/signup for logout.
      </li>
      <li>
        <a href="http://15.206.185.43/jsonpatch" target="__blank"></a
        >http://15.206.185.43/jsonpatch for JSON patch.
      </li>
      <li>
        <a href="http://15.206.185.43/generatethumbnail" target="__blank"></a
        >http://15.206.185.43/generatethumbnail for generating thumbnail.
      </li>
      <li>
        <a href="http://15.206.185.43/addaddress" target="__blank"></a
        >http://15.206.185.43/addaddress for adding address
      </li>
    </ul>
  </body>
</html>
