<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cuvette-assignment</title>

    <style>
      h4,
      li {
        margin-bottom: 10px;
      }
      ul {
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to cuvette assignment</h1>

    <ul>
      <h4>These are the following endpoints:-</h4>
      <li>
        <a href="http://15.206.185.43/signup" target="__blank"
          >http://15.206.185.43/signup for signup.</a
        >
      </li>
      <li>
        <a href="http://15.206.185.43/login" target="__blank"
          >http://15.206.185.43/signup for login.</a
        >
      </li>
      <li>
        <a href="http://15.206.185.43/logout" target="__blank"
          >http://15.206.185.43/signup for logout.</a
        >
      </li>
      <li>
        <a href="http://15.206.185.43/jsonpatch" target="__blank"
          >http://15.206.185.43/jsonpatch for JSON patch.</a
        >
      </li>
      <li>
        <a href="http://15.206.185.43/generatethumbnail" target="__blank"
          >http://15.206.185.43/generatethumbnail for generating thumbnail.</a
        >
      </li>
      <li>
        <a href="http://15.206.185.43/addaddress" target="__blank"
          >http://15.206.185.43/addaddress for adding address</a
        >
      </li>
    </ul>
  </body>
</html>
